.filter{
  display: flex;
  gap: 20px;
  justify-content: center;
}

/* App.css */
.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr; /* Two columns of equal width */
  grid-template-rows: repeat(5, 1fr); /* Five rows of equal height */
  gap: 10px; /* Optional gap between items */
  padding: 30px 50px;
}

.left {
  grid-column: 1 / 2; /* Span the first column */
  grid-row: 1 / 6; /* Span all five rows */
}

.right-top {
  grid-column: 2 / 3;
  grid-row: 1 / 5;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid #000;
}

.right-bottom {
  grid-column: 2 / 3; /* Span the second column */
  grid-row: 5 / 6; /* Span the fifth row */
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid #000;
}

video{
  width: 100%;
}

textarea.annotation{
  resize: none;
  height: 3em;
  width: 20em;
}

button.annotation{
  height: 3em;
}