.results {
  margin-top: 40px;
  text-align: center;
}

.header {
  margin: 40px, 0;
  text-align: center;
}

.video-table {
  width: 100%;
  border-collapse: collapse;
}

.video-table th,
.video-table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.video-table th {
  background-color: #f2f2f2;
}

.video-table video {
  max-width: 100%;
}
