/* Add some padding to the top of the main content to avoid overlap with the fixed nav */
.content {
  padding-top: 5em; /* Adjust based on the nav height */
  max-width: 60%;
}

.content-wrapper{
  display: flex;
  justify-content: center;
  width: 100%;
}